
.header {
    background-color: #fff;
    padding: 1%;
    -webkit-box-shadow: 0px 6px 45px -10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 6px 45px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 45px -10px rgba(0, 0, 0, 0.1);
}

.main-section {
    padding-top: 170px;
    padding-bottom: 50px;
}

.footer {
    background-color: #f5f5f5;
    padding: 50px 40px 40px;
}